* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
body{
  background-color: #E5E5E5;
  padding: 0 12%;
  margin: 0 auto 0 auto;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 150%;
}
header nav a:link, header nav a:visited{
  color: #FFFFFF;
  text-decoration: none;
  padding: 2% 5%;
}
header nav a:hover{
  color: #3E86F5;
  background-color: #FFFFFF;
  border-radius: 15px;
}
header .logo{
  color: #FFFFFF;
  float: left;
  font-size: 48px;
  font-weight: 500;
}

.background-img {
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./images/background.svg");
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.banner{
  font-size: 150%;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.banner .banner-header{
  font-weight: 600;
  font-size: 255%;
  line-height: 96px;
}
.banner .banner-text{
  font-weight: 500;
  font-size: 99%;
  line-height: 200%;
}

.choose-trip{
  position: absolute;

  width: 75%;
  top: 105%;
  left: 50%;
  margin-top: -1px;
  transform: translate(-50%, -50%);
}
.choose-flight-hotel{
  width: 24%;
  height: 100px;
  background-color: #FFFFFF;
  border-radius: 25px 25px 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.choose-flight-hotel nav{
  margin: 3% 5px 8% 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}
.choose-flight-hotel img{
  height: 25px;
  width: 25px;
}
.choose-flight-hotel .choose-airplane-img{
  height: 35px;
  width: 35px;
}
.choose-flight-hotel nav:hover{
  background: #3E86F533;
  border-radius: 25px 25px 25px 25px;
}
.choose-city-date{
  height: 274px;
  background-color: #FFFFFF;
  border-radius: 0 50px 50px 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0 30px;
  align-items: center;
}
.choose-city-date > div{
  height: 154px;
  border: 2px solid rgba(172, 172, 172, 0.5);
  border-radius: 25px;
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.choose-city-date .choose-city{
  width: 100%;
}
.choose-city-date .choose-date{
  width: 115%;
}
.choose-city-date .city-select, .date-select{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.choose-city-date .label{
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.choose-city-date select, input{
  font-weight: 500;
  font-size: 130%;
  line-height: 36px;
  max-width: 10vw;
  border: none;
}
.choose-city-date .text-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.choose-city-date .label-img{
  width: 27px;
  height: 25px;
}
.choose-city-date .choose-sign-img{
  height: 40px;
  width: 40px;
}
.choose-city-date button{
  background: rgba(62, 134, 245, 0.8);
  border-radius: 65px;
  border: 0;
  padding: 5%;
  max-height: 154px;
  display: flex;
  align-items: center;
}
.choose-city-date button:hover{
  background-color: #3E86F5;
}
.choose-city-date .make-search-img{
  height: 50px;
  width: 50px;
}

.special-offers{
  margin-top: 140vh;
}
.special-offers h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.special-offers .slider{
  color: #00000080;
  background: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  margin: 60px auto 0 auto;
  width: 340px;
  height: 66px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  /*gap: px;*/
}
.special-offers .slider div{
  margin: 10px 0;
  padding: 10px 24px;
}
.special-offers .slider .tab:hover{
  background-color: #3E86F5;
  color: #FFFFFF;
  border-radius: 10px;
}
.offers{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.offers article{
  background-color: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}
.offers .img-date{
  margin: 13px 13px 0 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.offers .vertical-span{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #00000080;
  letter-spacing: .4rem;
  font-size: 1.1vw;
}
.offers img{
  width: 78%;
}
.offers .offer-details{
  padding: 5% 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
.offers .offer-buy{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.offers .offer-price{
  display: flex;
  flex-direction: row;
}
.offers .offer-type{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.offers .offer-name{
  font-weight: 600;
  font-size: 1.5vw;
}
.offers .price-per{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.offers .red-offer-type{
  padding: 0 15px;
  color: #F178B6;
  background: #FCDDEC;
  border-radius: 100px;
  max-height: 21px;
  font-size: 90%;
}
.offers .blue-offer-type{
  padding: 0 15px;
  color: #7879F1;
  background: #F1F1FD;
  border-radius: 100px;
  font-size: 90%;
  max-height: 25px;
}
.offers .offer-duration{
  color: rgba(0, 0, 0, 0.5);
  font-size: 80%;
}
.offers button{
  padding: 5% 7%;
  color: #3E86F5;
  font-size: 12px;
  background-color: #F2F6FF;
  border-radius: 7px;
  border: none;
}
.offers button:hover{
  background: rgba(62, 134, 245, 0.8);
  color: #F2F6FF;
}

.encouraging-users{
  margin-top: 240px;
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
}
.company-encourage-numbers{
  width: 75%;
  position: relative;
}
.encouraging-users .sea-img{
    width: 100%;
}
.encouraging-users .numbers div{
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  width: 35%;
  height: 13%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.encouraging-users .numbers h4{
  font-weight: 600;
  font-size: 2vw;;
  line-height: 2.5vw;
  color: #3E86F5;
}
.encouraging-users .numbers span{
  font-weight: 300;
  font-size: 1vw;
  line-height: 27px;
}
.encouraging-users .num_1{
   margin-top: -150%;
   right: -15%;
}
.encouraging-users .num_2{
   margin-top: -100%;
   left: -15%;
}
.encouraging-users .num_3{
   margin-top: -50%;
   right: -15%;
}
.text-encouraging-users{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px
}
.text-encouraging-users h1{
  font-style: normal;
  font-weight: 600;
  font-size: 2.7vw;
  line-height: 150%;
}
.text-encouraging-users p{
  font-style: normal;
  font-weight: 400;
  /*font-size: 126%;*/
  font-size: 1.2vw;
  line-height: 200%;
  color: #00000080;
}
.text-encouraging-users button{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  border: none;
  color: #FFFFFF;
  width: 179px;
  height: 75px;
  background: #3E86F5;
  border-radius: 10px;
}
.text-encouraging-users button:hover{
  color: #FFFFFF;
  background: rgba(62, 134, 245, 0.8);
}


.recommendation{
  margin-top: 200px;
}
.recommendation h1{
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.recommendation .slider{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.recommendation .slider div{
  margin: 10px 0;
  padding: 10px 24px;
  color: rgba(0, 0, 0, 0.5);
}
.recommendation .slider .tab:hover{
  background-color: #FFFFFF;
  color: #3E86F5;
  border-radius: 10px;
}
.destinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 80px;
  width: 100%;
  justify-content: center;
}
.destinations article{
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 1% 1%;
  width: 21%;
  min-width: 200px;
}
.destinations .destination-img{
  width: 100%;
}
.destination .text{
  margin-left: 5%;
}
.destination .img-review{
  position: relative;
}
.destination .review{
  position: absolute;
  top: 8%;
  right: 8%;
  background: #FFFFFF;
  width: 55px;
  height: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.destination .location{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.destination .location span{
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}


.user-review {
  margin-top: 330px;
}
.user-review .reviews{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.user-review .text{
  position: relative;
  background: #FFFFFF;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10% 12% 15%;
}
.user-review .quotes-img{
  position: absolute;
  margin-top: -20%;
}
.user-review .review-text{
  font-size: 1.3vw;
}
.user-review .text img{
  position: absolute;
  top: 9vw;
  width: 7vw;
}
.user-review .user-profile{
  background: #FFFFFF;
  border-radius: 50%;
}
.user-review .name{
  padding: 3% 0;
  color: #3E86F5;
  /*font-size: 20px;*/
  font-size: 1.2vw;
}
.user-review .name-company{
  color: #00000080;
  font-size: 1.2vw;
}
.user-review article{
  position: relative;
}
.user-profile {
  position: absolute;
  left: 50%;
  top: 96%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 34%;
}
.user-profile .profile-img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 85%;
  transform: translate(-50%, -50%);
}
.user-profile .review{
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 25px;
  width: 45px;
  height: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 60%;
  top: 15%;
}
.user-review nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  gap: 20px;
}
.user-review button{
  width: 40px;
  height: 40px;
  background-color: #E5E5E5;
  box-sizing: border-box;
  padding: 5px 10px 5px 8px;
  border: 2px solid rgba(62, 134, 245, 0.5);
  border-radius: 15px;
}
.user-review button:hover{
  background-color: rgba(62, 134, 245, 0.5);
  border: 2px solid #3E86F5;
}

.discount{
  margin-top: 20%;
  position: relative;
}
.discount img{
  width: 100%;
}
.discount .text{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.discount h1{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3vw;
}
.discount button{
  margin-top: 3%;
  width: 16vw;
  height: 20%;
  color: #3E86F5;
  background: #FFFFFF;
  border-radius: 25px;
  border: none;

  font-weight: 500;
  font-size: 1.5vw;
  line-height: 30px;
}
.discount button:hover{
  color: #FFFFFF;
  background: rgba(62, 134, 245, 0.8);
}

footer{
  margin-top: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer span{
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.5);
}
footer nav{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
footer a:link, footer a:visited{
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}
